html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
}

body {
    background-color: #fffaf1;
    background-image: url('Images/spaceBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 0 24px;
   
    }

bbbbbbbbbbbb
/*The Nav*/

.navbar-toggler {
    width: 100%;
    height: 100px;
    background-color: #a8a8a8;
    padding:0;
    margin:0;
}

.menuItem{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.menuItem:not(:last-child){
    border-bottom: solid 2px white;
}
.menuItem:hover {
    text-decoration-line: none;
    color: rgba(66, 66, 66, 0.82);
  
}

.mainImg {
    display:none;
    border-radius: 50%;
  }

/*Welcome Page*/
.col{
    padding:10px;
    margin:0;
}


button {
    border-radius: 10px;
    height: 50px;
    background-color: #a8a8a8
    border: 1px black solid;
    box-shadow: 1px 1px 5px grey;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding:0;
    margin:0 auto;
    width:300px;
    
}

button:hover {
    background-color: rgba(83, 70, 70, 0.44);
}

h1 {
    padding-top: 250px;
    color: rgba(255, 255, 255, 0.966);
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px grey;
    font-family: sans-serif;
  width:100%;
}

h2, h3, label{
    font-size:2rem;
}
h1, h2, h3{
    text-align: center;
}

p {
    font-family:  sans-serif;
    color:white;
    font-size:1.5rem;
    text-shadow: 1px 1px 2px black;
}

a{
    color:black;
}

/* Contact */

.form-control{
    width:350px;
}

label{
    color:white;
}

footer{
    display:none;
}
.nonHomeHeader{
    padding-top:120px;
}


/*Media Queries*/

@media screen and (max-width: 766px) {
    .navbar-nav {
        padding-top: 125px;
    }
}

@media screen and (min-width: 767px) {

    .intro{
        height:100vh;
    }

    h1{
        padding-top:400px;
    }
    .navbar-expand-md {
        border-right: solid white 6px;
        background-color:blue;
        z-index: 1;
        
    }


    .mainImg {
        display:block;
        border-radius: 50%;
        margin-top:40px;
      }
    .nav-item {
        width: 280px;
        padding: 20px 0px 20px 0px;
        text-align: left;
        color: #fff;
        font-size: 16px;
    }

    .navbar {
        position: fixed;
        height: 100vh;
        align-items: start;
    }

  
    .wrapper {
        position: relative;
        min-height: 100%;
    }

    .form-control{
        width:420px;
    }

    .page-layout {
        margin-left: 400px;
        padding-bottom: 64px;
    }

  /* Footer */

footer {
    display:block;
    position: absolute;
    margin-left: 319px;
    left: -319px;
    padding-left:319px;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-color:  rgba(255, 255, 255, 0.99);
    color: rgba(20, 17, 17, 0.99);
    overflow:hidden;
}
}